[Unit]
Description=BanServer Telegram Bot SaveNotes
After=syslog.target
After=network.target

[Service]
User=banshee
Group=banshee
StandardOutput=append:/var/log/banserver.log
StandardError=append:/var/log/banserver.log
WorkingDirectory=/usr/local/ban/telbot-savenotes
ExecStart=/usr/local/ban/telbot-savenotes/telbot-savenotes.py
Restart=always

[Install]
WantedBy=multi-user.target
